body{
    margin:0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
.top_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: #333;
}
.top_menu_link a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.top_menu_link a:hover {
    background-color: #ddd;
    color: black;
  }
  
.top_menu_link a.active {
    background-color: #04AA6D;
    color: white;
}
    
