:root{
    --themeColor:lightgrey;
}



main{
    display: flex;
    background-color: aliceblue;
    height: 100vh;
    width:100%;
    

 }
 #frontInformation{
    display:flex;
    background-color:aquamarine ;
    height:100%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;


 }
 #loginSide{
    display: flex;
    background-color: rgb(196, 146, 196);
    height:100%;
    width: 30%;
    display: flex;
    justify-content: centre;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    
 }
 .News{
    flex: 1;
    background-color: blueviolet;
    display: flex;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    flex-direction: column;
    min-width: 100%;
    justify-content: center;

 }
 div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 80%;
    height: auto;
    margin:auto
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
 
 .Announcement{
    flex:1;
    background-color: bisque;
 }
 .Vacancy{
    flex:1;
    background-color:chartreuse
 }
 .About{
    flex:1;
    background-color: pink;
 }
 .appName{
    flex:1

 }
 .loginForm{
      flex: 1;

 }
 input[type="text"],
      select {
        width: 100%;
        padding: 1rem 1.25rem;
        margin: 0.5rem 0;
        display: inline-block;
        border: 0.0625 rem solid #ccc;
        border-radius: 0.25 rem;
        box-sizing: border-box;
        text-align: start;
        white-space: pre-wrap;
      }

input[type="submit"] {
        width: 100%;
        background-color: #280436;
        color: white;
        padding: 1rem 1.25rem;
        margin: 0.5rem 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: aqua;
      }

      